:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f3f4f7;
}

html {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
